
 .rokkitt {
     font-family: rokkitt;
}
 .light-blue-box {
     background-color: #1384aa;
     color: black;
}
 .light-gray-box {
     background-color: #1d1d8e;
     color: black;
}
.green-box {
    background-color: rgb(183, 78, 78);
    color: black;
}
